.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tiago1{
  background: lightgreen;
  padding: 15px;
}
input{
  margin: 5px;
}

.input1{
  padding: 15px;
}

.boton{
  border: none;
  padding: 10px;
  background: green;
  color: #fff;
  cursor: pointer;
  margin-top: 10px
}

.par{
  background: blue;
  padding: 20px

}
.impar{
  background: red;
  padding: 20px;
}